@main-color: rgb(214, 72, 223);
@second-color: rgb(255, 232, 42);
@third-color: rgb(236, 206, 8);
@text-color: rgb(64, 6, 76);
@menu-item-color: rgb(102, 11, 112);
@btn-first-color: rgb(95, 12, 113) 0%;
@btn-second-color: rgb(194, 11, 204) 100%;
@input-border-color: rgb(130, 13, 138);
@tooltip-color: rgb(123, 19, 129);
@tooltip-second-color: rgb(255, 243, 51);
@form-text-color: rgb(54, 7, 64);
@input-text-color: rgb(88, 15, 99);
@footer-color: rgb(255, 132, 244);
@rights-color: rgb(255, 255, 255);
@phone-color: rgb(255, 255, 255);
@instagram-text-color: rgb(255, 255, 255);
@open-burger-background-color: rgba(0, 0, 0, 0.788);